# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=koperasi_db
DB_USER=root
DB_PASS=

# JWT
JWT_SECRET=ganti_dengan_secret_yang_kuat_dan_panjang
JWT_EXPIRES_IN=8h

# Bcrypt
BCRYPT_ROUNDS=10
